.Top_Width02{
Width:800px;
}

.Top_Input_Submit01{
Height:30px;

Font-Size:12px;
Font-Weight:Bold;

Color:RGB(255,255,255);

Background-Image:URL("../Image/Table01.JPG");

Border-Width:0px;

Cursor: Pointer;
}

.Top_Input_Submit02{
Width:80px;
Height:25px;

Font-Size:12px;
Font-Weight:Bold;

Color:#4F91B1;

Background-Color:RGB(245,255,255);

Border-Width:0px;

Cursor: Pointer;
}

.Top_Margin01{
Margin-Top:0px;
Margin-Bottom:0px;
Margin-Left:0px;
Margin-Right:0px;
}

.Top_Border01{
Border-Width:0px;
}

.Top_Padding01{
Padding-Top:0px;
Padding-Bottom:0px;
Padding-Left:0px;
Padding-Right:0px;
}

.Top_Font01{
Font-Family:"Arial","Helvetica","sans-serif";
}